@font-face {
    font-family: 'SF Display';
    src: url('fonts/SFDisplay-Light.woff2') format('woff2'),
        url('fonts/SFDisplay-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Display';
    src: url('fonts/SFDisplay-Regular.woff2') format('woff2'),
        url('fonts/SFDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Display';
    src: url('fonts/SFDisplay-Bold.woff2') format('woff2'),
        url('fonts/SFDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Display';
    src: url('fonts/SFDisplay-Medium.woff2') format('woff2'),
        url('fonts/SFDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

