@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-100
  }
}

.hero-gradient-heading {
  display: inline;
  padding-right: 5px;
  background-image: linear-gradient(
    108deg,
    #0082C4 8%,
    #0648ff 40%,
    #005DDF 77%,
    #056dff 91%
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}